<main>
  <h3 *ngIf="loading">
    Loading...
  </h3>

  <h3 class="error" *ngIf="error">
    {{ error }}
  </h3>

  <div class="pagination">
    <button [disabled]="!isPrevPage" (click)="prevPage()">&lt;&lt;Prev</button>
    <button [disabled]="!isNextPage" (click)="nextPage()">Next&gt;&gt;</button>
  </div>

  <dg-media-list [mediaElements]="images"></dg-media-list>

  <div class="pagination">
    <button [disabled]="!isPrevPage" (click)="prevPage()">&lt;&lt;Prev</button>
    <button [disabled]="!isNextPage" (click)="nextPage()">Next&gt;&gt;</button>
  </div>
</main>
